body {
    background-color: rgba(203, 238, 50, 0.938);
    text-align: center;
    font-family: cursive;
    background: url('https://wallpapercave.com/wp/kLRFyFa.jpg') repeat center center;
}

#img-container {
    padding: 10px 0 20px 15px;
}

h1 {
    font-size: 70px;
    color: white;
}

h6 {
    font-size: 20px;
    color: white;
}

.img-div {
    margin: 1px;
    border-color: white;
    color: rgb(0, 0, 0);
    float: left;
    padding: 1px 15px 4px 20px;
    width: 33%;
}

.img-div img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

div.image--div {
    height: 100%;
    margin: 10px;
}

div.image--div:hover {
    transform: scale(1.03);
    background-color: aqua;
    border-radius: 5%;  
}

p {
    padding-bottom: 5%;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
    .img-div {
        width: 45%;
        padding: 0 0 0 55px;
    }
}

@media only screen and (max-width: 600px) {
    .img-div {
        width: 100%;
        padding: 0 10px 0 0;
    }
}