#main {
    display: block;
    text-align: center;
    font-family: Helvetica; 
    background-color: #e9e9e9;
    margin: 15px 0px 28px 0;
  }
  
  .heading-background {
    margin-top: 28px;
    padding: 25px 0px 5px 0px;  
    
  }
  
  #img-div {
    background:white;
    margin: 0 15px 0 15px;
    padding: 0 0 5px 0; 
  }
  
  #image {
    display: block;
    max-height: auto;
    max-width: 100%;
    margin: auto;
    }
  
  .time-line-bullet {
    padding: 0 0 20px 0;
  }
  
  .overview-title {
    padding: 30px 0 0 0;
  }
  
  ul {
    width: 28%;
    margin: auto;
    padding: 30px 0 0 0;
    text-align: left;
  }
  
  li {
    padding: 10px 0 10px 0px;
    line-height: 1.5;
  }
  
  .sp-text {
    width: 29%;
    margin: auto;
    text-align: left;
    font-style: italic;
  }
  
  .end-text {
    padding: 20px 0 18px 0;
  }